body > h1{
  text-align: center;
  font-size: 64px;
  font-family: 'Bungee Outline', cursive;
  font-weight: 700;
  color: #fff;
  background-color: #555;
  border-bottom: 2px solid #004000;
  border-top: 2px solid #004000;
  padding: 10px;
  margin-bottom: 20px;
  letter-spacing: 5px;
}

#display{
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  height: 100%;
  width: 100%;
}

.user-info{
  margin-left: 100px;
  border-radius: 3px;
}

.user-info > ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 20px;
  padding: 10px ;
}

.user-info li{
  margin: 0 10px;
}

#board{
  background-color: #373737;
  box-shadow: 0 0 10px #000;
  margin: 0 20px;
  border-radius: 3px;
}

.column{
  box-shadow: 0 0 10px #000;
  width: 200px;
  height: 500px;
  background-color: #ccc;

  display: flex;
  flex-direction: column;
}

#links{
  position: relative;
  margin-right: 100px;
  border-radius: 3px;
}

.column > h1{
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 10px;
  background-color: #888;
  border-bottom: 2px solid #040;
  padding: 10px 0;
  height: 30px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  color: #fff;
}

#buttons{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 350px;
}


.button{
  font-family: 'Roboto', sans-serif;
  background-color: #aaa;
  border-radius: 5px;
  box-shadow: 0 0 2px #333;
  text-decoration: none;
  color: #444;
  padding: 10px 20px;
  margin: 20px;
  text-align: center;
  cursor: pointer;
}

.button:first-of-type{
  margin-top: 60px;
}

.button:hover{
  background-color: #888;
  box-shadow: 0 0 5px #000;
}
