#inv{
  display: flex;
  width: 245px;
  height: 160px;
  margin: 10px auto;
  justify-content: space-between;
  flex-direction: column;
}

#inv > div{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.item{
  box-shadow: 0 0 3px #000;
  width: 75px;
  height: 75px;
  background-color: rgba(235, 235, 235, 0.5);
  position: relative;
  border: outset 1px;
}

.weapon{
  background: url("../art/items/sword.png");
  background-size: contain;
}

.armor{
  background: url("../art/items/armor.png");
  background-size: contain;
}

.boots{
  background: url("../art/items/boots.png");
  background-size: contain;
}

.amulet{
  background: url("../art/items/amulet.png");
  background-size: contain;
}

.delete{
  content: "X";
  color: #d00;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}

.equip{
  content: "E";
  color: #0d0;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

.equipped{
  box-shadow: 0 0 10px rgb(214, 255, 14);
  border: inset 1px;
}
