/*LEVEL UP MODAL*/
.modalDialog {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 99999;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  opacity:0;
  pointer-events: none;
}

.modalDialog > div{
  display:flex;
  flex-direction: column;
}

.modalDialog > div > div{
  border-bottom: 1px solid #aaa;
}

.modalDialog ul{
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.modalDialog div > h2{
  text-align: center;
  font-size: 24px;
  padding: 10px 0;
}

.plus{
  border-radius: 5px;
  background-color: #bbb;
  box-shadow: 0 0 3px #555;
  padding: 0 4px;
  font-size: 14px;
  margin-left: 30px;
}

.plus:hover{
  background-color: #0a0;
  box-shadow: 0 0 5px #000;
  cursor: pointer;
}

.show {
  opacity:1;
  pointer-events: auto;
}

.modalDialog > div {
  width: 400px;
  position: relative;
  margin: 10% auto;
  padding: 5px 20px 13px 20px;
  border-radius: 10px;
  background: url("../art/parchment.png");
  background-size: cover;
  background-position: center;
}

.stat {
  display: flex;
  justify-content: space-around;
  width: 150px;
}

.modalDialog ul{
  margin-left: 20px;
}


/*STARTING MODAL*/
#initial-modal > div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 560px;
}

#initial-modal .text{
  margin: 20px;
  text-align: center;
}

strong{
  font-weight: bolder;
  color: #a00;
}

#initial-modal h3{
  font-size: 18px;
  text-align: center;
  margin-bottom: 5px;
}

#initial-modal input{
  border: none;
  box-shadow: 0 0 3px #444;
  font-family: 'Press Start 2P', cursive;
  font-size: 24px;
  border-radius: 5px;
  background-color: #ddd;
  text-align: center;
  padding: 10px 5px;
  margin-top: 5px;
}

#initial-modal form{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#initial-modal button{
  margin: 0 auto;
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 16px;
  width: 180px;
}

#end-modal h2{
  display: block;
  float: none;
  text-align: center;
  color: #d00;
  font-weight: bolder;
}

.attrs{
  margin: 20px;
  display: flex;
  justify-content: space-between;
}

.game-screen{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.display-buttons{

}

.board{
  position: absolute;
  background: url("../art/parchment.png");
  background-size: contain;
  width: 500px;
  height: 700px;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px;
  display: flex;
  flex-direction: column;
}

#how-to h1{
  margin: 30px 0 20px;
  text-align: center;
  font-size: 24px;
}

#how-to h2{
  margin: 20px 10px;
  font-size: 18px;
  color: #555;
  border-bottom: 1px solid #555;
}

#how-to p{
  margin: 0 10px;
}

#how-to-close{
  padding: 10px 20px;
  margin: 20px auto;
}

#leaderboard{
  transform: translate(-50%, -35%);
  justify-content: space-between;
}

#leaderboard h1{
  text-align: center;
  margin-top: 40px;
  font-size: 40px;
  border-bottom: 3px solid #000;
}

#leaderboard .list{
  display: flex;
  flex-direction: column;
  height: 500px;
}

.leader-board-item{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin: 15px 40px;
}

.leader-board-item li{
  list-style: none;
}

.leader-board-item li:first-child{
  text-transform: uppercase;
}

.leader-board-item li:last-child{
}

#leaderboard-close{
  margin-bottom: 40px;
}
